*.a
*.sw*
*.dylib
*.ll
*.bc
*.wast
*.wast.hpp
*.s
*.dot
*.abi.hpp
*.cmake
!.cicd
!CMakeModules/*.cmake
*.ninja
\#*
\.#*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake-build-debug/
cmake-build-release/
Makefile
compile_commands.json
moc_*
*.moc
!cc
!genesis.json
hardfork.hpp
tutorials/bios-boot-tutorial/nodes
tutorials/bios-boot-tutorial/wallet
deploy/biosboot/genesis/blockchain
deploy/biosboot/accountnum11/blockchain
deploy/biosboot/accountnum12/blockchain
deploy/biosboot/accountnum13/blockchain
*.log
build/


!.vscode
.idea/
*.iws
.DS_Store

!*.swagger.*
